<h1>Project 6: OAuth</h1>
<p>This project demonstrates the use of OAuth 2.0</p>
<p>using Google's OAuth 2.0 endpoint to get</p>
<p>the first and last name of a user</p>

<div>
    <a href="/g-auth">To Google OAuth</a>
</div>

